.butt{
  height:30px;
  width:150px;
  margin:5px;
  border-radius:5px;
}
.coded{
  height:450px;
  width:600px;
  margin-top:20px;
  border-radius:5px;
}
ul{margin-top:20px;}
li{color:#272b30;}
.ocenka{
  width:600px;
  margin-top:40px;
  margin-bottom:20px;
}